<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	  http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 启用spring mvc 注解 -->
	<context:annotation-config />

	<!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven />

	<!-- 设置使用注解的类所在的jar包 -->
	<context:component-scan base-package="com.zhang.controller"></context:component-scan>

	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />  
	
	<!-- 完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix"><value>/WEB-INF/jsp/</value></property>  
        <property name="suffix"><value>.jsp</value></property>  
    </bean>
		
	 <!-- 上传文件拦截，设置最大上传文件大小 10M=10*1024*1024(B)=10485760 bytes -->    
    <bean id="multipartResolver"   
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">    
        <property name="maxUploadSize">  
            <value>10485760</value>  
        </property>  
    </bean>  
    
	<!-- 对静态资源文件的访问 -->      
	<mvc:resources mapping="/static/**" location="/WEB-INF/static/" /> 
	
	<!-- 检查权限拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.common.interceptor.CheckLoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
</beans>